@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=M+PLUS+1p:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:wght@100&family=Roboto+Condensed:ital,wght@1,300&family=Trispace:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    text-decoration: none;
}

#navbar_{
    width: 100%;
    padding: 10px 15px;
    /* background-color: rgb(33, 33, 36); */
    background-image: linear-gradient(to right,#215B68,#000F14 );

    
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.logo{
    width: 15%;
}
.logo > img{
    width: 40px;
}

.nav_links{
width: 70%;
display: flex;
align-items: center;
justify-content: center;
color: white;
}

.nav_links > a{
    margin: 0px 10px;
    color: white;
}
.nav_right{
    width: 15%;
    border-left: 2px solid white;
}
.nav_right > a{
    margin-left: 10px;
    color: white;
}

/* section 01  */

.section1{
    background-color: #000F14;
    background-image: linear-gradient(to right,#000F14,#215B68 );
    min-height: 100vh;
    color: white;
    position: relative;
    overflow: hidden;
}

.overlay_1{
    width: 400px;
    height: 400px;
    background-color: #00AEEF;
    border-radius: 50%;
    position: absolute;
    right: -200px;
    top: -200px;
    filter: blur(3px);
    opacity: 0.1;
}

.overlay_2{
    width: 400px;
    height: 400px;
    background-color: #00AEEF;
    border-radius: 50%;
    position: absolute;
    left: -200px;
    bottom: -200px;
    filter: blur(3px);
    opacity: 0.1;
}

.form_container{
    min-height: 50vh;
    background-color: #215b6828;
    border-radius: 20px;
    padding: 20px;
}

.form-items{
    width: 100%;
    min-height: 70px;
    padding: 10px 15px;
    /* border: 2px solid white; */
    border-radius: 10px;
    background-color: #01354642;
    margin: 10px 0px;
}

.top-text{
    color: rgb(0, 195, 255);
}

/* section 02  */

.section2{
    min-height: 100vh;
    text-align: center;
}

.box_container{
    margin-top: 70px;
    flex-wrap: wrap;
}
.box_container > .box{
    width: 250px;
    height: 200px;
    background-color: #000F14;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px 15px;
    /* border: 2px solid red; */
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.line{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, #000F14,#3a99bb);
    height: 5px;
}

.slidecontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.slider {
    margin: 0px 15px;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #215B68;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    /* opacity: 1; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 80px;
    height: 40px;
    background: #012633;
    border: 2px solid white;
    /* background-image: linear-gradient( to right,white, lightcoral,darkblue); */

    cursor: pointer;
    border-radius: 15px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

/* section 03 */

.section3{
    /* background-color: #000F14; */
    background-image: linear-gradient(to right,#000F14,#215B68 );
    min-height: 100vh;
    color: white;
    position: relative;
    overflow: hidden;
}
.section3 p{
    margin: 20px;
    font-size: 2rem;
     
}

/* section 04  */

.section4{
    min-height: 100vh;
}

.s4_list > li {
    font-size: 2rem;
    margin: 20px;
}

/* section 05  */

.section5{ 
       background-image: linear-gradient(to right,#000F14,#215B68 );
    min-height: 100vh;
    color: white;
    position: relative;
    overflow: hidden;
}

.accordion{
    /* background-color: #04AA6D; */
    color: white;
    }
    
    .accordion-item{
        background-color: #011D26;
        color: white;
        border: none;
        margin-top: 10px;
        padding: 15px ;
        border-radius: 10px;
    }
    
    .accordion-button{
        background-color: transparent;
        outline: none;
        color: white;
    }
    .accordion-button:focus{
        box-shadow: none;
    }
    .accordion-button:not(.collapsed){
        /* background-color: orange; */
        background-color: #225B68;
        color: white;
        box-shadow: none;
    }
    .accordion-button::after{
        background-image: none;
        content: "\f0d7";
        font-family: fontawesome;
        width: auto;
        height: auto;
    
    }
    
    .accordion-button:not(.collapsed)::after{
        background-image: none;
        color: #000F14;
    
    }

    .footer{
       background-image: linear-gradient(to right,#215B68,#000F14 );
       min-height: 50px;
       display: flex;
       align-items: center;


    }

    .footer a{
        color: white;
        text-decoration: none;
        margin-right: 50px;
    }